<div class="container mt-3 mb-5">
    <div class="card w-75 m-auto">
        <div class="card-header fw-bold text-center text-light bg-dark">
            <h3>Cart Items<i class="fa-solid fa-cart-shopping"></i></h3>
        </div>
        <div class="card-body w-100 m-auto text-center">
            <div class="card-title"></div>
            <div class="row mt-3 " *ngFor="let pro of cartproducts">
                <div class="col-3">
                    <img [src]=pro.productImageUrl onerror="this.onerror=null;this.src='assets/altimage.jpeg'" alt="Image Here" style="width: 100px;height: 80px ;" class="img-fluid img-thumbnail">
                </div>
                <div class="col-3 d-flex flex-column justify-content-center">{{pro.productName | mypipe:15}}</div>
                <div class="col-3 d-flex flex-column justify-content-center">{{pro.productPrice | currency:'INR'}}</div>
                <div class="col-3 d-flex flex-row justify-content-evenly align-content-center align-items-center">
                    <button class="btn btn-info btn-sm">save for later</button>
                    <button class="btn btn-danger btn-sm " (click)="removeItemFromCart(pro.cartId)">Remove</button>
                </div>
                <br>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-3">
                    <div class="d-flex justify-content-center align-content-center">
                        <h2>Total:</h2>
                    </div>
                </div>
                <div class="col-3">
                    <h3>{{TotalAmount}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
